@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  margin-top: 6rem;
  font-family: "Inter";
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url(assets/fonts/Inter-ExtraLight.ttf);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url(assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(assets/fonts/Inter-Bold.ttf);
}
